---
layout: page
title: Tags
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.tags %}
    <span class="post-tag">{{ tag[0] }}</span>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h2>{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
      <li>
      <a class="post-title" href="{{ post.url }}">
        {{ post.title }}
      </a>
      <small>{{ post.date | date_to_string }}</small>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
