/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $lightgrey;
  background-color: rgba(255,255,255,0.75);
  @media (min-width: 30rem) {
    position: fixed;
    width: 100%;
  }
  .masthead-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $theme-color;
    a {
      color: $theme-color;
    }
    small {
      font-size: 75%;
      font-weight: 400;
      color: $masthead-title-small-color;
      letter-spacing: 0;
    }
    @media (max-width: 48em) {
      text-align: center;
      small {
        display: none;
      }
    }
  }
}
