.sidebar-personal-info {
  .sidebar-personal-info-section {
    &:not(:first-of-type) {
      margin-top: .75rem;
    }
    line-height: 1rem;
    a, strong {
      color: $white;
      text-decoration: none;
    }
  }
}
